NODE_ENV=production
PORT=5000


MONGO_URI=mongodb+srv://bank:passishere@bankserver.k8euh6z.mongodb.net/


JWT_SECRET=g4rgb
JWT_EXPIRE=7d


ALLOWED_ORIGINS=https://your-app.onrender.com,https://www.yourdomain.com
CLIENT_URL=https://shopnest-72e6.onrender.com


RAZORPAY_KEY_ID=rzp_test_T1T8YnnjaB80lo

RAZORPAY_KEY_SECRET=WxNWDw18Gnx1TtO198muyAQg


CLOUDINARY_CLOUD_NAME=dx59kmjz1
CLOUDINARY_API_KEY=761958558214394
CLOUDINARY_API_SECRET=tgyqGA9XmHtkDvFlg3hwCxlo0p8


ALLOW_LOCAL_UPLOADS=true
